.navbar {
    background: rgb(85, 85, 85);
    height: 5rem;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo {
    object-fit: contain; /* Adjusted to contain */
    max-height: 4rem; /* Adjusted */
    width: auto; /* Adjusted */
}

.desktopMenuListItem {
    margin: 0 1.5rem; /* Adjusted */
    cursor: pointer;
}

.desktopbtn {
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
    height: 2.5rem; /* Adjusted */
}

.desktopMenuListItem:hover {
    color: #0cadcf;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #0cadcf;
}

.active {
    color: #0cadcf;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #0cadcf;
}

.navMenu {
    position: absolute;
    top: 5rem; /* Adjusted */
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    min-width: 15rem;
    background: rgb(85, 85, 85);
    border-radius: 1rem;
}

.listItem {
    color: white;
    padding: 0.5rem 2rem; /* Adjusted */
    margin: 0.25rem;
    background: rgb(73, 73, 73);
}

.mobMenu {
    display: none;
    height: 2rem; /* Adjusted */
}

/* Adjustments for mobile view */
@media screen and (max-width: 720px) {
    .mobMenu {
        display: flex;
    }

    .desktopMenuListItem,
    .desktopbtn {
        display: none;
    }

    .navMenu {
        position: fixed; /* Adjusted */
        top: 4.5rem; /* Adjusted */
        right: 1rem; /* Adjusted */
        width: calc(100% - 2rem); /* Adjusted */
        max-width: 20rem; /* Adjusted */
        border-radius: 0.5rem; /* Adjusted */
    }

    .listItem {
        padding: 0.5rem 1rem; /* Adjusted */
    }
}
