#works{
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.workstitle{
    margin: 1rem;
    font-size: 3rem;
}
.worksDesc{
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;
}
.workImgs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 65rem;
}
.worksImg{
    object-fit: cover;
    height: 17rem;
    margin: 0.5rem;
    border-radius: 2rem;

}

.workBtn{
    margin: 3rem 0;
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background: white;
    font-size: 1rem;
    font-weight: 600;
}

@media screen and (max-width: 480px) {
    .workImg{
        height: -20vw;
        border-radius: 2rem;
    }
}

