#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
}

.bg {
    position: absolute;
    top: -1rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
}

.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.5rem;
    font-weight: 100;
}

.introName {
    color: #0CADCF;
}

.introPara {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

.btn {
    margin: 1rem 0;
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
    height: 2rem;
}

@media screen and (max-width: 840px) {
    .bg {
        right: -10vw;
    }

    .introContent {
        font-size: 10vw;
    }

    .hello {
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 768px) {
    .bg {
        right: -23vw;
        height: auto; /* Changed to fit content */
    }

    .introContent {
        margin-top: 7rem;
    }

    .btn {
        height: 3rem; /* Adjusted for better touch target */
    }
}
